.carouselComponent {
    width: 100%;
    padding: 2rem;
    background-color: #111111ab;
    color: #fff;
    border-radius: 25px;
}

.carouselDisplay {
    display: flex;
    gap: 1rem;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

.card {
    flex: 0 0 auto;
    width: 200px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.cardContents {
    padding: 1rem;
    text-align: center;
}


