.audioPlayer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.audioPlayer h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.audioPlayer p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.audioPlayer audio {
  margin-top: 15px;
}

.station-logo {
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
}