.audioPlayer {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.audioPlayer h2 {
  font-size: 2rem;
  margin: 1rem;
}

.audioPlayer .leftColumn, 
.audioPlayer .rightColumn {
  background-color: transparent;
}

.audioPlayer .rightColumn {
  padding-top: 1rem;
}

.stationLogo {
  max-width: 100%;
  height: auto;
}