.audioPlayer {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.audioPlayer p {
  font-weight: bold;
}

.topContent {
  display: flex;
  flex-direction: row;
}

.audioPlayer h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.audioPlayer .leftColumn, 
.audioPlayer .rightColumn {
  background-color: transparent;
}

.audioPlayer .rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleTag{
  padding-bottom: 1rem;
}

.playingInfo {
  padding-top: 1rem;
}

.playingInfo h3 {
  padding-bottom: 1rem;
}

.stationLogo {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .topContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stationLogo {
    max-width: 125px;
    max-height: 125px;
  }

  .audioPlayer h2 {
    font-size: 1.25rem;
  }

  .botContent {
    text-align: center;
  }
}