/* main/desktop screens */

.navBar {
    z-index: 10;
    display: flex;
    height: 8rem;
    position: sticky;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #100E0E;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
  
.logo .logoLink {
  color: #FBFDF7;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
}

.logo .dot {
  color: #d60132;
}

.navMenu {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}

li a {
  color: #FBFDF7;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

li a:hover,
li a.active {
  color: #d60132;
  text-decoration: none;
}

.icon {
    color: #FBFDF7;
    font-size: 2rem;
    transition: color 0.3s;
  }
  
.icon:hover {
    color: #d60132;
}

.navMenu a {
  color: #FBFDF7;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.navMenu a:hover,
.navMenu a.active {
  color: #d60132;
  text-decoration: none;
}

.navLinkButton {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
}


/* hiding mobile menus on larger screens */
.hamburger {
  display: none;
  padding: 1rem;
}

.mobileMenu {
  display: none;
}

/* mobile screens */
@media screen and (max-width: 940px) {
  
.mobileNav a {
  color: #FBFDF7;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.mobileNav a:hover,
.mobileNav a.active {
  color: #d60132;
  text-decoration: underline;
}

  /* Dropdown menu */
  .mobileMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -50vh;
    left: 0;  
    position:absolute;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    transition: 0.3s;
    z-index: 5;
  }

  /* part of active state to hide/show menu */
  .active {
    top: 4rem;
  }
  

  .mobileMenu li{
    padding: 1rem 1rem;
    margin : 0 1rem; 
    border-bottom: 1px solid #FBFDF7;
  }

  .mobileNav {
  list-style: none;
  } 

  .mobileNav li a {
    text-decoration: none;
    color: #FBFDF7;
    font-weight: 600;
    transition: color 0.3s;
  }

  .mobileNav li a:hover,
  .mobileNav li a.active {
    color: #d60132;
    text-decoration: underline;
  }

  .mobileMenuBot{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  /* mobile resizng */
  .mobileNav{
    margin: 1rem 0;
  }
  
  .navMenu {
    display: none;
  }

  .logo .logoLink{
    font-size: 2rem;
  }

  .navBar{
    height: 4rem;
    padding: 0 2rem;
  }

  .hamburger {
    display: block;
  }

  .navIcons{
    display: none;
  }
}
