.stationDashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.pageTop,
.pageBottom {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: black;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 25px;
  justify-content: center;
}

.leftSide{
  flex: 1;
}

.rightSide{
  flex: 2;
}
  
  @media (max-width: 768px) {
    .grid {
      padding: 20px;
      grid-template-columns: 1fr;
    }
  }
  