/* main page */
.StationPage {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  min-height: 100vh;
  align-items: center;
  gap: 3rem
}

/* station details */
.stationDetails {
  text-align: center;
  width: 85%;
}

.stationDetails h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* station media */
.stationMedia {
  display: flex;
  gap: 20px;

  height: 350px;
}

.leftContent,
.rightContent {
  background-color: transparent;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContent {
  flex: 1;
}

.rightContent {
  flex: 2;
}


/* sign-in */
.chatWindow .loginOverlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.chatWindow .loginOverlay p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.chatWindow .loginOverlay button {
  background: #ff0050;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.chatWindow .loginOverlay button:hover {
  background: #ff3366;
}


.bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

/* --- responsivce behaviour --- */
@media (max-width: 768px) {
  .stationMedia {
    flex-direction: column;
    height: auto;
  }

  .leftContent,
  .rightContent {
    width: 100%;
    height: 300px;
  }

  .section {
    padding: 40px 10px;
  }

  .stationDetials h1 {
    font-size: 2rem;
  }

  .stationDetials p {
    font-size: 1rem;
  }

  .section h3 {
    font-size: 1.6rem;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    padding: 20px;
  }
}
