/* main page */

.homePage{
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  min-height: 100vh;
  align-items: center;
  gap: 3rem
}

/* top column layout */
.twoColumnSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 85%;
}

.twoColumnSection .section{
  width:100%;
}

.leftColumn,
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tagline .h3 {
  margin-top: 2rem;
} 

.homePage .section {
  margin-bottom: 2rem;
}

bottom {
  width:100%;
}

/* website tagline */

.tagline {
  font-size: 2rem;
  font-weight: bold;
}

/* buttons */
.getStarted {
  width: 100%;
  align-items: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.getStarted button {
  font-size: 1.5rem;
}

/* carousel */
.stationDisplay{
  width: 85%;
}

/* mobile */
@media (max-width: 768px) {
  .twoColumnSection {
    flex-direction: column;
    width:85%;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 1.5rem;
  }

  .tagline {
    font-size: 1.5rem;
  }
  

  .rightColumn h1 {
    font-size: 1.75rem;
    padding: 0;
  }

  .getStarted button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .stationDisplay {
    width: 85%;
  }
}