/* main page */

.homePage{
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  gap: 3rem
}

/* top column layout */
.twoColumnSection {
  display: flex;
  width: 85%;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.leftColumn,
.rightColumn {
  flex: 1 1 45%;
  box-sizing: border-box;
  background-color: #111111ab;
  border-radius: 25px;
}
.leftColumn {
  max-width: 40%;
  padding: 2rem;
}

.rightColumn h1 {
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 3rem;
}

.stationDisplay {
  background-color: #111111ab;
  border-radius: 25px;
  padding: 2rem;
  margin-bottom: 2rem;
}

/* website tagline */

.tagline {
  font-size: 2rem;
  font-weight: bold;
}

/* buttons */
.getStarted {
  width: 100%;
  align-items: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.getStarted button {
  font-size: 1.5rem;
}

/* carousel */
.stationDisplay{
  width: 85%;
}

/* mobile */
@media (max-width: 768px) {
  .twoColumnSection {
    flex-direction: column;
    width:85%;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 1.5rem;
  }

  .tagline {
    font-size: 1.5rem;
  }
  

  .rightColumn h1 {
    font-size: 1.75rem;
    padding: 0;
  }

  .getStarted button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .stationDisplay {
    width: 85%;
  }
}