/* media section */

.homePage{
  margin: 0;
  height: 100vh;
  background-image: url('./Hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.media {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
}

  
  