/* media section */

.homePage{
  margin: 0;
  height: 100vh;
  background-image: url('./Hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.media {
  display: flex;
  height: 75vh;
  width: 100%;
  background-color: transparent;
  align-items: center;
}
.media .leftContent, .media .rightContent {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
}

  
  