.footer {
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
    border-top: 1px solid #222;
  }

.logout{
  margin-bottom: 1rem;
}

.logout:hover{
  color: #ff004f;
}