  main {
    padding: 20px;
  }
  
  .player {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .schedule, .contact {
    margin-bottom: 20px;
  }
  
li{
  list-style-type: none;
}

  @media (max-width: 600px) {
    body {
      font-size: 16px;
    }
  
    .player, .schedule, .contact {
      padding: 10px;
    }
  }
  
 
  
  /* Responsive Typography */
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 2.2rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  }
      